.asset__attribute {
  font-size: larger;
  text-align: center;
  padding-bottom: 8px;
}

.asset__head {
  font-weight: bold;
}

.asset__head__attribute{
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.others_assets_tab__container {
  margin: auto;
}

.my_assets_tab__container {
  margin: auto;
}


