.asset__head__attribute {
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.asset__attribute {
  font-size: larger;
  text-align: center;
  padding-bottom: 8px;
}

.create__asset__props {
  font-size: larger;
  margin-left: 100px;
  margin-right: 20px;
}

.create__asset__button {
  margin-left: 150px;
}

.asset__number {
  cursor: pointer;
  text-decoration: none;
}

.asset__number:hover {
  border-bottom: solid 2px;
  border-bottom-color: #00b0ff;
}

.asset__action {
  font-size: larger;
  text-align: center;
  padding-bottom: 8px;
}

.others_assets_tab__container {
  margin: auto;
}

.my_assets_tab__container {
  margin: auto;
}


