.page-login {
  width: 256px;
  margin: 0 auto;
  text-align: center;
  .title {
    margin-bottom: 0;
    font-size: 20px;
  }
  .content {
    position: relative;
    span {
      text-align: left;
      position: absolute;
      top: 40px;
      width: 300px;
      color: #ff0000;
      font-size: 14px;
    }
  }
  a {
    display: block;
    text-align: left;
  }
  .button {
    margin-top: 20px;
  }
}