.page-login {
  .title {
    text-align: center;
  }
  .content {
    width: 149px;
    margin: 0 auto;
    p {
      margin-bottom: 0;
    }
    +.content {
      margin-bottom: 14px;
    }
  }
  .button {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}